// general
$bg-color: #1d1d1d;
$text-color: #fff;

// menu
$menu-bg-color: #C2C2C2;
$menu-text-color: #1d1d1d;

// comapre bikes section
$compare-bikes-photo-width: 280px;
$on-tablet-compare-bikes-photo-width: 348px;

// contacts section
$contacts-width: 280px;
$on-tablet-contacts-width: 288px;
$on-desktop-contacts-width: 411px;

// details section
$on-tablet-details-button-width: 392px;
$on-desktop-details-button-width: 324px;

// icons
$icon-size: 24px;
$on-tablet-icon-size: 32px;

// inputs
$input-field-color: #fff;
$input-text-color: #1d1d1d;

// buttons
$button-width: 280px;
$button-height: 56px;
$button-color: #fff;

// footer
$footer-height: 200px;
$on-tablet-footer-height: 480px;
$on-desktop-footer-height: 555px;
